.button {
  background-color: #7b61ff;
  border-radius: 12px;
  color: #fff;

  transition: background-color 0.2s ease-in;
}

.button:hover {
  background-color: #6b61ff;
}

.button--huge {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;

  padding: 24px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.button--search {
  width: 60px;
  height: 60px;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .button--huge {
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
  }
}

.button-more {
  width: 105px;
  padding: 10px 34px 10px 10px;
  background-image: url("./../img/icons/next-blue.svg");
  background-repeat: no-repeat;
  background-position: 75px 12px;

  display: flex;
  /* align-content: sflex-start; */
  align-items: center;

  gap: 4px;

  font-size: 16px;
  color: #5243c2;

  background-color: #f6f4ff;
  border-radius: 12px;

  transition: background-color 0.2s ease-in;
}

.button-more:hover {
  background-color: rgba(82, 67, 194, 0.2);
}

.button-read-more {
  width: 133px;
  background-position: 103px 12px;
}

.button--subscribe {
  width: 72px;
  height: 72px;
  padding: 24px;
}
