@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import "./button.css";

body {
  font-family: "Poppins", sans-serif;
}

.none {
  display: none !important;
}

.container {
  max-width: 1440px;
  padding: 0 32px;
  margin: 0 auto;
  text-align: center;
}

.header {
  height: 800px;
  padding: 31px 0 100px;

  color: #fff;
  background-color: #000;

  background-image: url("./../img/header/2rism-bg.png");
  background-size: cover;
  background-position: center;
  border-radius: 0 0 54px 54px;
}

.header a {
  color: #fff;
}

.container--header {
  /* margin: 0 auto; */
  /* width: 1140px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 48px;
}

.logo {
  flex-shrink: 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54px;

  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
}

.nav-list__item {
}

.nav-list__link {
  color: rgba(255, 255, 255, 0.7);
}

.nav-list__link--active {
  font-weight: 400;
  color: #fff;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.user__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 14px;
}

.user__greeting {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.user__name {
  font-weight: 600;
  color: #fff;
}

.user__avatar {
  position: relative;
}

.user__avatar::after {
  position: absolute;
  right: 0;
  top: 0;

  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #ff0000;
  border-radius: 50%;
}

.user__img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  text-align: center;
}

.header__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
}

.form {
  display: flex;
  align-items: center;

  width: 1140px;
  height: 88px;
  padding: 8px;
  background-color: #fff;
  border-radius: 12px;
  color: #161414;
}

.form__input-wrapper {
  /* height: 72px; */
  background-color: rgba(255, 255, 255, 0.849);

  display: flex;
  flex-direction: column;

  padding: 16px 20px 16px 56px;
  background-repeat: no-repeat;
  background-position: 16px 24px;
}

.form__input--location {
  width: 300px;
  background-image: url("./../img/icons/map.svg");
}

.form__input--activity {
  width: 255px;
  background-image: url("./../img/icons/calendar.svg");
}

.form__input--date {
  width: 255px;
  background-image: url("./../img/icons/activity.svg");
}

.form__input--guests {
  width: 255px;
  background-image: url("./../img/icons/guests.svg");
}

.form__label {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: #5b5b5b;
  text-align: left;
}

.form__input {
  font-size: 16px;
  font-weight: 500;
}

.form__input::placeholder {
  color: #000;
}

.button--search {
  width: 60px;
  height: 60px;
  padding: 20px;
}
