@media (max-width: 1205px) {
  .form {
    width: auto;
    height: auto;
  }

  .easepick-wrapper {
    z-index: 9;
  }

  .form__input--date {
    width: 200px;
  }

  .form__input--guests {
    width: 180px;
  }

  .form__input--activity {
    width: 180px;
  }

  .form__input--location {
    width: 250px;
  }

  .autoComplete_wrapper > input {
    width: auto !important;
  }

  .footer {
    padding: 80px 0;
  }

  .footer__row {
    grid-template-columns: 1fr 2fr;
    column-gap: 30px;
  }
}

@media (max-width: 1139px) {
  .header {
    height: auto;
    min-height: 500px;
    border-radius: 0 0 40px 40px;
  }

  .container--header {
    justify-content: flex-start;
    gap: 90px;
  }

  .header__title {
    font-size: 32px;
  }

  .nav-list,
  .nav-user {
    display: none;
  }

  .mobile-nav-btn {
    display: block;
  }

  .main {
    row-gap: 100px;
    padding: 40px 0;
  }

  .section__header {
    margin-bottom: 34px;
  }

  .title-1 {
    font-size: 26px;
  }

  .section__cards--dest {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }

  .section__cards--hotels,
  .section__cards--activities {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }

  .section__cards--tips {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  .card__text {
    font-size: 14px;
  }

  .footer__subscribe {
    grid-column-start: 1;
    grid-column-end: -1;
    width: unset;
    max-width: none;
  }
}

@media (max-width: 1040px) {
  .form {
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
  }

  .form__input-wrapper {
    width: 100%;
  }

  .button--search {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .main {
    gap: 60px;
  }

  .title-1 {
    font-size: 22px;
  }

  .section__cards--dest {
    grid-template-columns: repeat(2, 1fr);
  }

  .section__cards--hotels,
  .section__cards--activities {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .card--wide {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .about-us {
    grid-template-columns: 1fr;
  }

  .footer__row {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer__nav-wrapper {
    justify-content: space-between;
    gap: 20px;
  }
}

@media (max-width: 440px) {
  .title-1 {
    font-size: 20px;
    /* font-weight: 500; */
  }

  .section__cards--dest {
    grid-template-columns: 1fr;
  }

  .subscribe {
    flex-direction: column;
  }

  .footer__nav-wrapper {
    grid-template-columns: repeat(2, 2fr);
  }

  .subscribe__btn-wrapper,
  .button--subscribe,
  .subscribe__input-wrapper {
    width: 100%;
  }
}
